.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.box-shadow {
	-webkit-box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.15);
}

.img-parameters {
	object-fit: cover;
	object-position: center;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
.pseudo-elt {
	position: absolute;
	content: "";
}
