$color-primary: rgb(216, 162, 101);
$color-secondary: rgb(49, 22, 7);
$color-tertiary: rgb(147, 87, 32);
$color-light-grey: rgb(151, 140, 124);
$color-dark-grey: rgb(84, 81, 68);

$short-anim: 300ms;
