@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
.flex-center, footer .footer-copyright, header .header-title, #items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row, header .header-info__links, header .header-info {
  display: flex;
  flex-direction: row;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pseudo-elt, #home-main .product-presentation p::after, #home-main .product-presentation h2::after, #home-main .product-presentation h2::before {
  position: absolute;
  content: "";
}

/* font-family: 'Lobster', cursive; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Lato', sans-serif; */
#items {
  flex-wrap: wrap;
  width: 100%;
}
#items .bear-preview {
  width: 250px;
  margin: 1em;
  border-radius: 0.5em;
  -webkit-box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.25);
  transition: 300ms;
}
#items .bear-preview img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
#items .bear-preview__info {
  padding: 0.5em;
}
#items .bear-preview__info--productName {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #311607;
}
#items .bear-preview:hover {
  transform: scale(1.02);
}

header {
  width: 100%;
  position: relative;
}
header .header-info {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
  height: 5em;
  background: linear-gradient(180deg, rgba(216, 162, 101, 0.7) 30%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 9;
}
header .header-info__links a {
  margin-right: 1em;
}
header .header-info__links a:hover {
  text-decoration: underline;
}
header .header-info i {
  width: 1.3em;
}
header .header-title h1 {
  font-family: "Lobster", cursive;
  font-weight: 600;
  font-size: 4em;
  color: #311607;
  margin: 1.1em 0 0.3em;
}
header .header-banner {
  position: relative;
  overflow-x: hidden;
}
header .header-banner img {
  width: 100%;
  max-height: 42em;
  object-fit: cover;
}
header .header-banner .bear-movement {
  position: absolute;
  animation: bear-movement 20s infinite ease;
}
header .header-banner .bear-movement .bear-anim {
  position: absolute;
  width: 59px;
  height: 32px;
  bottom: 0.2em;
  animation: bear-anim 1s infinite none;
}

@keyframes bear-anim {
  0% {
    background-image: url(./../img/polar-bear-1.png);
  }
  1% {
    background-image: url(./../img/polar-bear-2.png);
  }
  33% {
    background-image: url(./../img/polar-bear-2.png);
  }
  34% {
    background-image: url(./../img/polar-bear-3.png);
  }
  65% {
    background-image: url(./../img/polar-bear-3.png);
  }
  66% {
    background-image: url(./../img/polar-bear-1.png);
  }
  100% {
    background-image: url(./../img/polar-bear-1.png);
  }
}
@keyframes bear-movement {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}
footer {
  padding: 1em 2em;
  background-color: #d8a265;
}
footer .footer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
footer .footer-info h4 {
  font-weight: 600;
  margin-bottom: 0.5em;
}
footer .footer-info__contact li {
  margin-bottom: 0.3em;
}
footer .footer-info__partners-links a:hover {
  text-decoration: underline;
}
footer i {
  width: 1.3em;
}
footer .footer-copyright {
  text-align: center;
  font-size: 0.9em;
}

#home-main {
  padding: 2em;
}
#home-main .product-presentation {
  text-align: center;
}
#home-main .product-presentation h2 {
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.7em;
  font-size: 2em;
  font-weight: 500;
  color: #311607;
}
#home-main .product-presentation h2::before {
  top: 50%;
  left: 0;
  height: 1px;
  width: 20%;
  background-color: #311607;
}
#home-main .product-presentation h2::after {
  top: 50%;
  right: 0;
  height: 1px;
  width: 20%;
  background-color: #311607;
}
#home-main .product-presentation p {
  position: relative;
  font-size: 1.1em;
  margin-bottom: 3em;
}
#home-main .product-presentation p span {
  font-weight: 600;
  color: #311607;
}
#home-main .product-presentation p::after {
  left: 5%;
  bottom: -1.5em;
  height: 1px;
  width: 90%;
  background-color: #311607;
}
#home-main .search-input {
  padding: 1em 0;
}
#home-main .search-input i,
#home-main .search-input input {
  font-size: 1em;
}
#home-main .search-input input {
  border: none;
  border-bottom: 1px solid black;
  width: 150px;
  padding: 0.3em;
  margin-left: 1em;
}
#home-main .search-input input::placeholder {
  color: #978c7c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: black;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: #67330d;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #935720;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/*# sourceMappingURL=style.css.map */
