footer {
	padding: 1em 2em;
	background-color: $color-primary;
	.footer-info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2em;
		&__contact li {
			margin-bottom: 0.3em;
		}
		&__partners-links {
			h4 {
				font-weight: 600;
				margin-bottom: 0.5em;
			}
		}
	}
	i {
		width: 1.3em;
	}
	.footer-copyright {
		@extend .flex-center;
		font-size: 0.9em;
	}
}
