.bear-information {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	border-radius: 1em;
	@extend .box-shadow;
	&__image img {
		width: 100%;
		max-height: 30em;
		@extend .img-parameters;
	}
	&__settings {
		display: flex;
		justify-content: space-between;
		padding: 1em 2em 0;
		&--price {
			span {
				font-size: 1.5em;
				color: $color-secondary;
			}
		}
		.bear-quantity,
		.bear-color {
			display: flex;
			flex-direction: column;
			margin-bottom: 1em;
			line-height: 1.5em;
		}
		input {
			width: 50%;
		}
		input,
		select {
			@extend .input-select;
			&::placeholder {
				color: $color-light-grey;
			}
		}
	}
	&__description {
		text-align: center;
		padding: 1em;
		color: $color-secondary;
	}
	&__add-to-cart {
		@extend .flex-center;
		padding-bottom: 1em;
	}
}
